@import url(https://fonts.googleapis.com/css?family=Open+Sans);
thead,
th,
td,
tr {
  text-align: center;
}
.topbar {
  position: relative;
}
.toggle-view-list {
  display: flex;
  padding: 1em 2em;
  position: absolute;
  right: 25px;
  text-align: center;
  color: white;
  width: 450px;
  background: #fff;
  height: 100% !important;
}

.toggle-view-list button {
  text-align: center;
  color: #6e707e;
  border: none;
  background: #fff;
  padding: 12px 17px;
  font-family: "OpenSansBold", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 2px;
  outline-color: rgba(255, 254, 253, 0.353);
  display: inline-block;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #36d492;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.toggle-view-list button:hover {
  box-shadow: inset 100px 0 0 0 #40c97e;
  color: #fff;
}
.active-link {
  box-shadow: inset 100px 0 0 0 #40c97e !important;
  color: #fff !important;
}
.loading-table {
  display: flex;
  justify-content: center;
  background-color: #ffff !important;
}
.loading-table img {
  width: 150px;
  height: 150px;
}
.table-week .table-bordered thead tr th:nth-child(1),
.table-week .table-bordered tbody tr td:nth-child(1) {
  width: 5%;
}
.table-week .table-bordered thead tr th:nth-child(2),
.table-week .table-bordered tbody tr td:nth-child(2) {
  width: 15%;
}
.table-week .table-bordered thead tr th:nth-child(3),
.table-week .table-bordered tbody tr td:nth-child(3) {
  width: 20%;
}
.table-week .table-bordered thead tr th:nth-child(4),
.table-week .table-bordered tbody tr td:nth-child(4) {
  width: 10%;
}
.table-week {
  display: none;
}
.table-semester {
  display: none;
}
.table-month {
  display: none;
}
.table-day {
  display: none;
}
.open {
  display: block;
}

.table-month .table-bordered thead tr th:nth-child(1),
.table-month .table-bordered tbody tr td:nth-child(1) {
  width: 5%;
}
.table-month .table-bordered thead tr th:nth-child(2),
.table-month .table-bordered tbody tr td:nth-child(2) {
  width: 20%;
}
.table-month .table-bordered thead tr th:nth-child(3),
.table-month .table-bordered tbody tr td:nth-child(3) {
  width: 25%;
}
.table-month .table-bordered thead tr th:nth-child(4),
.table-month .table-bordered tbody tr td:nth-child(4) {
  width: 15%;
}

.table-day .table-bordered thead tr th:nth-child(1),
.table-day .table-bordered tbody tr td:nth-child(1) {
  width: 5%;
}
.table-day .table-bordered thead tr th:nth-child(2),
.table-day .table-bordered tbody tr td:nth-child(2) {
  width: 15%;
}
.table-day .table-bordered thead tr th:nth-child(3),
.table-day .table-bordered tbody tr td:nth-child(3) {
  width: 15%;
}
.table-day .table-bordered thead tr th:nth-child(4),
.table-day .table-bordered tbody tr td:nth-child(4) {
  width: 10%;
}
.table-day .table-bordered thead tr th:last-child,
.table-day .table-bordered tbody tr td:last-child {
  width: 10%;
}
#export-excel {
  width: 20%;
}

.noted {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.multChoose {
  padding: 5px 0px;
  background-color: #f8f9fc;
  width: 98.5%;
}
.multChoose a {
  cursor: pointer;
}

.box {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  min-height: 200px;
  height: 500px;
  width: 68vw;
  margin: 100px auto;
  background: white;
  border-radius: 5px;
  /* text-align: center; */
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  text-align: center;
}
.panel-heading {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: rgb(11 82 3 / 49%);
  color: #304ca2;
}

.panel-name {
  text-align: center;
  margin: auto;
  font-weight: 500;
  color: #fff;
  font-size: 25px;
}
.delete {
  padding: 0 15px;
}
.note-date {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.table-note thead tr th:nth-child(1),
.table-note tbody tr td:nth-child(1) {
  width: 7%;
}
.table-note {
  text-align: left;
}
.table-note .rowspan {
  padding-top: 112px;
}
.typeDay {
  cursor: pointer;
}
.day-now,
.month-now,
.week-now {
  width: 65%;
}
.table-header {
  display: flex;
}
.bg-light {
  background-color: #e1e6f3 !important;
}
.delete {
  cursor: pointer;
}
.semester-now {
  width: 1000px;
}
thead tr th[type="day-now"] {
  display: none;
}
table .date-of-week tr :hover {
  background-color: rgb(201, 223, 138);
}
#attendance {
  font-size: 15px;
}
#input-search-date {
  cursor: pointer;
  width: 170px;
}
