thead,
th,
td,
tr {
  text-align: center;
}
.topbar {
  position: relative;
}
.toggle-view-list {
  display: flex;
  padding: 1em 2em;
  position: absolute;
  right: 25px;
  text-align: center;
  color: white;
  background: #fff;
  height: 100% !important;
}

.toggle-view-list button {
  color: #312b2b;
  border: none;
  background: #fff;
  padding: 12px 17px;
  font-family: "OpenSansBold", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #36d492;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}
.toggle-view-list button:hover {
  box-shadow: inset 100px 0 0 0 #40c97e;
  /* color: #fff; */
}
