thead,
th,
td,
tr {
  text-align: center;
}
.topbar {
  position: relative;
}
.toggle-view-list {
  display: flex;
  padding: 1em 2em;
  position: absolute;
  right: 25px;
  text-align: center;
  color: white;
  background: #fff;
  height: 100% !important;
}

.toggle-view-list button {
  text-align: center;
  color: #6e707e;
  border: none;
  background: #fff;
  padding: 12px 17px;
  font-family: "OpenSansBold", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 2px;
  outline-color: rgba(255, 254, 253, 0.353);
  display: inline-block;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #36d492;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.toggle-view-list button:hover {
  box-shadow: inset 100px 0 0 0 #40c97e;
  /* color: #fff; */
}
.loading-table {
  display: flex;
  justify-content: center;
  background-color: #ffff !important;
}
.loading-table img {
  width: 150px;
  height: 150px;
}
.table-week .table-bordered thead tr th:nth-child(1),
.table-week .table-bordered tbody tr td:nth-child(1) {
  width: 5%;
}
.table-week .table-bordered thead tr th:nth-child(2),
.table-week .table-bordered tbody tr td:nth-child(2) {
  width: 15%;
}
.table-week .table-bordered thead tr th:nth-child(3),
.table-week .table-bordered tbody tr td:nth-child(3) {
  width: 20%;
}
.table-week .table-bordered thead tr th:nth-child(4),
.table-week .table-bordered tbody tr td:nth-child(4) {
  width: 10%;
}
.table-week{
  display: none;
}
.table-month{
  display: none;
}
.table-day{
  display: none;
}
.open{
  display: block;
}

.table-month .table-bordered thead tr th:nth-child(2),
.table-month .table-bordered tbody tr td:nth-child(2) {
  width: 20%;
}
.table-month .table-bordered thead tr th:nth-child(3),
.table-month .table-bordered tbody tr td:nth-child(3) {
  width: 30%;
}
.table-month .table-bordered thead tr th:nth-child(4),
.table-month .table-bordered tbody tr td:nth-child(4) {
  width: 15%;
}


.table-day .table-bordered thead tr th:nth-child(1),
.table-day .table-bordered tbody tr td:nth-child(1) {
  width: 15%;
}
.table-day .table-bordered thead tr th:nth-child(2),
.table-day .table-bordered tbody tr td:nth-child(2) {
  width: 15%;
}
.table-day .table-bordered thead tr th:nth-child(3),
.table-day .table-bordered tbody tr td:nth-child(3) {
  width: 10%;
}
.table-day .table-bordered thead tr th:last-child,
.table-day .table-bordered tbody tr td:last-child {
  width: 10%;
  
}