#page-top {
  position: relative;
  top: 10px;
  background-color: #e3e3e3;
}
/* search*/
.input-group {
  display: inline-flex;
  position: relative;
  top: -30px;
}
.form-control {
  position: relative;

  left: 22px;
  bottom: -20px;
  height: 34px;
  width: 350px;
}
.input-group-append {
  position: relative;
}
.input-group-append {
  border: 0;
}
.btn-primary {
  position: absolute;
  left: 18px;
  top: 20px;
  padding: 7.5px;
  background-color: #6d6e70;

  border-left: oldlace;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-color: #6d6e70;
  border: 1.5px solid transparent;
}

/*
select view
*/
.select {
  position: relative;
}
.select-lists {
  display: inline-flex;
  float: right;
  position: absolute;

  right: 50px;
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #e7e7cd;
  box-shadow: 5px 3px 5px 5px #aaa;
}
.list {
  margin: 0px 8px;
  padding: 5px;
}
.chose,
.list:hover {
  border-radius: 8px;
  background-color: #a8ca99;
  border: 1.5px solid transparent;
}
.link {
  cursor: pointer;
  text-decoration: none;
}

.h2 {
  position: relative;
  top: -30px;
  left: -10px;
  text-align: center;
  font-size: 1.4rem;
  padding: 30px;
  background-clip: border-box;
  background-color: #fff;
  color: #637eb4;
}

.havenote {
  color: red;
}
.non {
  color: #6d5d5d;
}
.alink {
  text-decoration: none;
}
/*export*/
.export {
  position: relative;
 
  right: 50px;
  float: right;
  background-color: #2c6ae6;
  height: 30px;
  width: 80px;
  border: 1.5px solid transparent;
  transition-property: width, height;
  transition-duration: 1.5s;
  color: #fff;
}
.export:hover {
  height: 40px;
  width: 90px;
}
.export:active {
  background-color: #6d6e70;

  border: 1.5px solid transparent;

  color: #fff;
}

/* footer*/
.footer {
  position: relative;
  color: #6c7470;
  top: 150px;
  margin-left: 80px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}
h4 {
  margin: 20px;
}
.fab,
.fa-facebook {
  cursor: text;
}
.conect {
  margin-bottom: 50px;
}
.link-conect {
  margin: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #5d5220;
}
/* view */

.view.open {
  display: block;
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.856);
  z-index: 1;
}
.view {
  display: none;
}
.box {
  position: relative;
  width: 90%;
  height: 700px;
  top: -80px;
  background-color: #eaf3f8;
}
.view-student {
  position: relative;
  width: 100%;
  height: 600px;
}
.header {
  position: relative;
  top: 10px;
  color: chocolate;
}
.first-head {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.first-head:last-child {
  margin-left: 50px;
}
.last-head {
  text-align: center;
}

/* note */
a {
  position: relative;
  top: -5px;
  text-align: center;
  text-decoration: none;
}

.comat,
.vangphep,
.vang {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  text-align: center;
}
.comat {
  background-color: lawngreen;
}
.vangphep {
  background-color: rgb(237, 240, 90);
}
.vang {
  background-color: rgb(241, 118, 35);
}
.navhead {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}
.navhead h3 {
  margin: 0;
}
.multChoose {
  position: relative;
  top: 7px;
  width: 150px;
  margin-left: 5px;
}
.month {
  width: 50%;
}
.previous {
  width: 50%;
}
.now {
  margin-left: 5px;
}
.boder {
  display: block;
  /* border: 2px solid red; */
  box-shadow: 7px 5px 8px 7px rgb(243, 240, 240);
  height: 520px;
  margin: 0 auto;
}
.box-boder {
  position: relative;
  display: flex;
  justify-content: center;
  width: 800px;
}
h4{
  margin:5px 0 2px 0px;
}
p{
  margin: 8px 0 0 20px;
}
.co, .phep, .kPhep{
  width: 40px;
  height: 20px;
  margin-top: 15px;
  
}
.co{
  background-color: lawngreen;
  margin-left:  90px;
}
.phep {
  background-color: rgb(237, 240, 90);
  margin-left:  43px;
}
.kPhep {
  background-color: rgb(241, 118, 35);
  margin-left:  15px;
}
.chuthich{
  position: relative;
  top: 8px;
}
