.view-day .sang{
    position: relative;
    top: 80px;
    max-width: 1500px;
    min-width: 900px;
    padding: 30px 5px;
    background-clip: padding-box;
    background-color: #fff;
   
    width: 100%;
    height: 500px;
}
.view-day .chieu{
    position: relative;
    top: 110px;
    max-width: 1500px;
    min-width: 900px;
    padding: 30px 5px;
    background-clip: padding-box;
    background-color: #fff;
   
    width: 100%;
    height: 670px;
}
.view-day .label{
    text-align: center;
}
.view-day .Table{
    position: relative;
    margin: 0 auto;
    width: inherit;
    height: 300px;
    max-width: 1100px;
    min-width: 600px;
    background-color: #f8f6f6;
    border: solid #AAA;
    box-shadow: 7px 5px 7px 7px #AAA;
    text-align: center;
}


.view-day .Table tbody { display:block; max-height:350px; overflow-y:scroll; }
.view-day .Table thead, .Table tbody tr { display:table; width:100%; table-layout:fixed; }
.view-day .Table thead {
    width: calc(100% - 17px);
}

/* view note */
.view-day .note.open {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(243, 245, 245, 0.86);
    z-index: 1;
}
.view-day .note{
    display: none;
}
.view-day .view-note{
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    min-height: 200px;
    height: 580px;
    position: relative;
    width: 80%;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
}
.view-day .note-sang{
    text-align: center;
}

.view-day .table-hover{
    position: relative;
    width:  90%;
    margin: 0 auto;
    height: 380px;
    text-align: center;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 17.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
.view-day .noted{
    cursor:default;
}

.view-day .navhead{
    display: block;
    width: 140px;
    padding-bottom: 5px;
    position: relative;
    top:78px;
    border: 1px solid rgb(245, 201, 201);
    background:#edfaf2;
}
.view-day .noted{
    position: relative;
  top: -5px;
  text-align: center;
}
.view-day a{
    top: 0;
    color: #050505;
}
.view-day .alink{
    text-align: center;
}