.sang{
    position: relative;
    top: 80px;
    max-width: 1500px;
    min-width: 900px;
    padding: 30px 5px;
    background-clip: padding-box;
    background-color: #fff;
   
    width: 100%;
    height: 500px;
}
.chieu{
    position: relative;
    top: 110px;
    max-width: 1500px;
    min-width: 900px;
    padding: 30px 5px;
    background-clip: padding-box;
    background-color: #fff;
   
    width: 100%;
    height: 500px;
}
.label{
    text-align: center;
}
.Table{
    position: relative;
    margin: 0 auto;
    width: inherit;
    height: 300px;
    max-width: 1100px;
    min-width: 600px;
    background-color: #f8f6f6;
    border: solid #AAA;
    box-shadow: 7px 5px 7px 7px #AAA;
    text-align: center;
}


.Table tbody { display:block; max-height:350px; overflow-y:scroll; }
.Table thead, .Table tbody tr { display:table; width:100%; table-layout:fixed; }
.Table thead {
    width: calc(100% - 17px);
}
/* .Table th:nth-child(1), .Table td:nth-child(1){
    width: 110px;
}
.Table th:nth-child(2), .Table td:nth-child(2){
    width: 140px;
}
.Table th:nth-child(3), .Table td:nth-child(3){
    width: 100px;
}
.Table th:nth-child(4), .Table td:nth-child(4){
    width: 90px;
}
.Table th:nth-child(5), .Table td:nth-child(5){
    width: 90px;
}
.Table th:nth-child(6), .Table td:nth-child(6){
    width: 90px;
}
.Table th:nth-child(7), .Table td:nth-child(7){
    width: 90px;
}
.Table th:nth-child(8){
    width: 87px;
}
.Table td:nth-child(8){
    width: 74.34px
} */

/* view note */
.note.open {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(243, 245, 245, 0.86);
    z-index: 1;
}
.note{
    display: none;
}
.view-note{
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    min-height: 200px;
    height: 580px;
    position: relative;
    width: 80%;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
}
.note-sang{
    text-align: center;
}

.table-hover{
    position: relative;
    width:  90%;
    margin: 0 auto;
    height: 380px;
    text-align: center;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 17.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
.noted{
    cursor:default;
}

.navhead{
    display: block;
    width: 140px;
    padding-bottom: 5px;
    position: relative;
    top:78px;
    border: 1px solid rgb(245, 201, 201);
    background:rgb(252, 244, 227);
}