/* table*/
.table {
  position: relative;
  top: 80px;
  padding: 30px 5px;
  background-clip: padding-box;
  background-color: #fff;
  justify-content: center;
  width: 100%;
  height: 800px;
}
.table-bordered {
  position: relative;
  width: 100%;
  height: 542px;
  background-color: #f8f6f6;
  border: solid #aaa;
}
.boder {
  width: 90%;
  height: 570px;
}
.thfixed {
  position: relative;
}
.table-bordered tbody {
  display: block;
  max-height: 450px;
  overflow-y: scroll;
}
.table-bordered thead,
table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.table-bordered tbody td,
.table-bordered thead th {
  height: 30px;
  border: 1px solid #375dcd;
  text-decoration: none;
}
thead tr th,
td {
  height: 30px;
  line-height: 30px;
  text-align: center;
}
tbody td:last-child,
thead th:last-child {
  border-right: none !important;
}
.table-bordered thead {
  width: calc(100% - 17px);
}
.table-bordered thead tr th:nth-child(1),
.table-bordered tbody tr td:nth-child(1) {
  width: 15%;
}
.table-bordered thead tr th:nth-child(2),
.table-bordered tbody tr td:nth-child(2) {
  width: 20%;
}
.table-bordered thead tr th:nth-child(3),
.table-bordered tbody tr td:nth-child(3) {
  width: 10%;
}
.non,
.havenote {
  text-decoration: none;
}
.table-responsive {
  position: relative;
  max-height: 470px;
  width: 100%;
}

.table1 tr {
  display: table-row;
  width: 100%;
  table-layout: fixed;
}
.table1 {
  border: #6d5d5d solid;
  background-color: #eef7ea;
  width: 95%;
  margin: 40px 30px;
  height: 100%;
  box-shadow: 7px 5px 7px 7px #aaa;
}

.table1 tbody th,
.table1 tbody td {
  border: tan solid 1px;
}
.table1 thead th {
  border: white solid 1px;
}
.table1 thead th:last-child,
.table1 tbody td:last-child {
  width: 750px;
}
tbody td {
  max-height: 70px;
}

.last-head h2 {
  margin: 0;
}

a {
  position: relative;
  top: -5px;
  text-align: center;
  text-decoration: none;
}

.comat,
.vangphep,
.vang {
  margin: 0 auto;
  width: 40px;
  height: 20px;
}
.comat {
  background-color: lawngreen;
}

.vangphep {
  background-color: rgb(237, 240, 90);
}
.vang {
  background-color: rgb(241, 118, 35);
}
.choose.none {
  display: none;
}
.far {
  cursor: unset;
}
