.disabled {
  opacity: 0.4;
  cursor: wait;
}
video {
  width: 700px !important;
  height: 500px !important;
  padding: 10px !important;
  object-fit: cover;
}
#my_camera {
  height: 500px !important;
  width: 700px !important;
  border-radius: 10px !important;
  border: #11a531 solid 2px;
  margin: auto;
}

.loading {
  cursor: wait;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  position: absolute;
  top: 20%;
  right: 20%;
  width: 60%;
  height: 200px;
  border-radius: 15px;
  background-color: rgb(245, 245, 245);
}
/* .loading h3 {
  padding-top: 40px;
  width: 100%;
  font-size: 20px;
  color: #000;
} */

.loading img {
  height: 200px;
  width: 200px;
  margin: auto;
}
.box-img {
  position: relative;
  width: 20%;
  cursor: pointer;
  height: 50%;
  border-radius: 10px;
  padding: 5px;
}

.box-img i {
  cursor: pointer;
  position: absolute;
  color: rgb(28 200 138 / 38%);
  right: 0;
  top: 5px;
  font-size: 20px;
}
.box-img :hover {
  color: rgb(28 200 138);
}
.box-img img {
  margin-top: 5px;
  border: 1px solid rgb(28, 200, 138);
  padding: 2px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#results {
  background: rgba(245, 222, 179, 0.171);
  width: 100%;
  height: 480px;
  margin: 5px;
  border-radius: 5px;
  border: 3px solid #11a531;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
}
.function {
  margin: 20px auto 20px auto;
  width: 40%;
}
canvas {
  position: absolute;
}
.container-fluid {
  height: 100%;
}
form {
  margin-top: 50px;
}
.custom-file-upload {
  margin: 0px;
}
